/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */


/* Style sheet is referred from Internet Source  */
.root{
    -fx-background-image: url("/images/dark.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-size: 480 700;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}

.label
{
    -fx-text-fill: white;
    -fx-font-weight: bold;
   	-fx-font-size: 20;
}

* {
    -fx-my-menu-color: #263238;                  
    -fx-my-menu-color-highlighted: #455a64;      
    -fx-my-menu-font-color: #FFFFFF;             
    -fx-my-menu-font-color-highlighted: #FFFFFF; 
}


.menu-bar {
    -fx-background-color: -fx-my-menu-color;
}

.menu-bar > .container > .menu-button {
    -fx-background-color: -fx-my-menu-color;
}

.menu-bar > .container > .menu-button > .label {
    -fx-text-fill: -fx-my-menu-font-color;
}

.menu-bar > .container > .menu-button > .label:disabled {
    -fx-opacity: 1.0;
}

.menu-bar > .container > .menu-button:hover,
.menu-bar > .container > .menu-button:focused,
.menu-bar > .container > .menu-button:showing {
    -fx-background-color: -fx-my-menu-color-highlighted;
}

.menu-bar > .container > .menu-button:hover > .label,
.menu-bar > .container > .menu-button:focused > .label,
.menu-bar > .container > .menu-button:showing > .label {
    -fx-text-fill: -fx-my-menu-font-color-highlighted;
}
  
.menu-item {
    -fx-background-color: -fx-my-menu-color; 
}

.menu-item .label {
    -fx-text-fill: -fx-my-menu-font-color;
}

.menu-item .label:disabled {
    -fx-opacity: 1.0;
}    

.menu-item:focused, .menu-item:hovered {
    -fx-background-color: -fx-my-menu-color-highlighted; 
}

.menu-item:focused .label, .menu-item:hovered .label {
    -fx-text-fill: -fx-my-menu-font-color-highlighted;
}
 
.context-menu {
    -fx-background-color: -fx-my-menu-color; 
}

.myDialog{
    -fx-background-color: black;
}

.myDialog > *.button-bar > *.container{
    -fx-background-color: black;
}

.myDialog > *.label.content{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-color: black;
}

.myDialog:header *.header-panel{
    -fx-background-color: black;
}

.myDialog:header *.header-panel *.label{
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: black;
}

